footer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

footer div {
    padding: 0 5vw;
    position: absolute;
    bottom: calc(25vh - 5vw);
    display: flex;
    flex-flow: column;
}

footer h2 {
    width: fit-content;
    margin-bottom: 2vh;
    padding: 0.1em;
}

#sticky-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#first-page-title-wrapper {
    position: sticky;
    white-space: nowrap;
    top: 0vh; /* Stick to the top of the viewport */
    height: 100vh; /* Full viewport height */
    width: 100vw;
    display: flex;
    align-items: center; /* Vertically center the content */
}

#first-page-title-wrapper h1 {
    padding-left: 5vw;
}

#first-page-title-wrapper h1 span {
    transition: color 0.0s, background-color 0.0s;
    white-space: normal;
}

#first-page {
    position: relative;
    height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#first-page h2 {
    position: absolute;
    top: calc(47vh - 5vw);
}

#second-page {
    position: relative; /* Ensures the pseudo-element is positioned relative to this container */
    width: 100vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#ascii {
    font-family: 'monospace';
    color: rgb(210, 210, 210);
    font-size: 1vw;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: -10;
}

.squished {
    -webkit-transform:scale(1,0.2); /* Safari and Chrome */
    -moz-transform:scale(1,0.2); /* Firefox */
    -ms-transform:scale(1,0.2); /* IE 9 */
    -o-transform:scale(1,0.2); /* Opera */
    transform:scale(1,0.2); /* W3C */
    transform-origin: center; /* Keep the scale effect aligned to the top */
    line-height: 1; /* Avoid extra spacing */
}

.page-break img {
    width: 100vw;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra spacing if it's inline */
    /* Use negative margin to bring the element closer to adjacent elements on top and bottom, with no effect on left and right */
}

@media (max-width: 600px) {
    #first-page-title-wrapper {
        justify-content: center;
        padding: 0;
    }

    #first-page h2 {
        left: 50%;
        top: 40%;
        transform: translate(-50%, 0);
        font-size: 2vw;
        text-align: center;
    }

    footer div {
        bottom: calc(15vh - 5vw);
        left: 50%;
        font-size: 2vw;
        transform: translate(-50%, 0);
        align-items: center;
        text-align: center;
    }
}