#sticky-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#first-page-title-wrapper {
  position: sticky;
  white-space: nowrap;
  top: 0vh; /* Stick to the top of the viewport */
  height: 100vh; /* Full viewport height */
  width: 100vw;
  display: flex;
  align-items: center; /* Vertically center the content */
}

#first-page-title-wrapper h1 {
  padding-left: 5vw;
}

#first-page-title-wrapper h1 span {
  transition: color 0.0s, background-color 0.0s;
  white-space: normal;
  background-color: white;
}

#first-page {
  position: relative;
  height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

#first-page h2 {
  position: absolute;
  top: calc(47vh - 5vw);
  z-index: 50;
}

#second-page {
  position: relative; /* Ensures the pseudo-element is positioned relative to this container */
  width: 100vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#ascii {
  font-family: 'monospace';
  color: rgb(210, 210, 210);
  font-size: 1vw;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: -10;
}

.page-break img {
  width: 100vw;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra spacing if it's inline */
  /* Use negative margin to bring the element closer to adjacent elements on top and bottom, with no effect on left and right */
}

@media (max-width: 600px) {
  #first-page-title-wrapper {
    justify-content: center;
    padding: 0;
  }

  #first-page-title-wrapper h1 {
    padding: 0;
  }

  #first-page h2 {
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    font-size: 2vw;
    text-align: center;
  }
}