#second-page {
    position: relative; /* Ensures the pseudo-element is positioned relative to this container */
    width: 100vw;
}

footer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 1em;
    line-height: 1.6;
    font-family: Avenir Next Condensed;
}

footer div {
    width: 10vw;
    height: 10vw;
}

#sticky-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#first-page-title-wrapper {
    position: sticky;
    white-space: nowrap;
    top: 50vh;
    padding-left: 5vw;
    transform: translate(0%, -50%);
}

#first-page-title-wrapper h1 span {
    transition: color 0.0s, background-color 0.0s;
    white-space: normal;
}

#first-page {
    position: relative;
    height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#first-page h2 {
    position: absolute;
    top: calc(47vh - 5vw);
    font-family: monospace;
    font-style: normal;
    background-color: white;
}

#ascii {
    font-family: 'monospace';
    color: rgb(210, 210, 210);
    font-size: 1vw;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: -10;
}

.squished {
    -webkit-transform:scale(1,0.2); /* Safari and Chrome */
    -moz-transform:scale(1,0.2); /* Firefox */
    -ms-transform:scale(1,0.2); /* IE 9 */
    -o-transform:scale(1,0.2); /* Opera */
    transform:scale(1,0.2); /* W3C */
    transform-origin: center; /* Keep the scale effect aligned to the top */
    line-height: 1; /* Avoid extra spacing */
}

.page-break img {
    width: 100vw;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra spacing if it's inline */
    /* Use negative margin to bring the element closer to adjacent elements on top and bottom, with no effect on left and right */
}

@media (max-width: 600px) {
    #first-page-title-wrapper {
        padding: 0;
        width: 100vw;
    }

    #first-page h2 {
        left: 50%;
        top: 40%;
        transform: translate(-50%, 0);
        font-size: 2vw;
        text-align: center;
    }
}