* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-family: 'Arial Narrow', sans-serif;
  font-size: 10vw;
}

h2 {
  font-family: 'Arial Narrow', sans-serif;
  font-size: 1.3em;
  font-style: italic;
}

p{
  font-size: 1em;
  line-height: 1.6;
  font-family: Avenir Next Condensed;
}

p a {
  color: #00ccff;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  min-height: 100px;

}

.scrolling-wrapper .card{
  scroll-snap-align: center;
  flex: 0 0 auto;
  display: flex;
  height: clamp(40vh, 50vw, 70vh);
  width: auto;
  min-width: 0; /* Some browsers miscalculate flex items. */
  align-items: center;
}

.scrolling-wrapper a {
  height: 100%;
}

.scrolling-wrapper img {
  width: auto;
  height: 100%;
}

.scrolling-wrapper .card div {
  background-color: white;
  width: 30vw;
  margin: 2vw;
  padding: 2vw;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card.active div {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 15vw;
    text-align: center;
  }

  h2 {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }
  
  .scrolling-wrapper .card {
    align-items: flex-start;
  }

  .scrolling-wrapper .card div {
    width: 70vw;
    margin: 0;
    padding: 0 15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}