---
layout: base.html
custom_css:
    - /media/css/articles.css
---

<nav>
    <a href="/"><h1 class="squished" style="font-size: 4vw;">TOM BROWN<br>TOM BROWN<br>TOM BROWN<br>TOM BROWN<br>TOM BROWN</h1></a>
</nav>

<section style="padding: 0 5vw;">

    {% if title_style == 'stretch' %}
        {% include "title-stretch.html" %}
    {% else %}
        <h1 class="article-title title-spaced">
            {% assign words = title | split: " " %}
            {% for word in words %}
                <span class="word">
                    {% assign chars = word | split: "" %}
                    {% for char in chars %}<span>{{ char }}</span>{% endfor %}
                </span>
            {% endfor %}
        </h1>
    {% endif %}
    
    <div class="article-meta">
        <p>Published on: {{ date }}</p>
    </div>

    <article>
        {{ content }}
    </article>

    <a href="/" class="back-button">← Back to Home</a>
</section>