<footer>
    <div class="contact-info">
        <h2>Contact Information</h2>
        <h2><a href="https://www.linkedin.com/in/bomtrown" target="_blank" rel="noopener noreferrer">LinkedIn</a></h2>
        <h2><a href="https://github.com/bomtrown" target="_blank" rel="noopener noreferrer me">GitHub</a></h2>
        <h2><a href="https://pin.it/6T3qZajY0" target="_blank" rel="noopener noreferrer">Pinterest</a></h2>
        <h2>© 2026 Tom Brown. All rights reserved. Built with HTMLCSSJSABCDEFG + 11ty</h2>
    </div>
    <div class="h-card">
        <img class="u-photo bg-ceiling" src="/media/images/profile-photo-2025.png" alt="" />
        <a class="u-url p-name" href="https://bomtrown.github.io">Tom Brown</a>
        <p class="p-note">Physics Student - JLR Intern - Avid Programmer - Occasional DJ.</p>
    </div>
</footer>