---
layout: base.html
title: Tom Brown - Portfolio
custom_css: /media/css/landingPage.css
---

<!--<div class="cursor"></div>-->

<div id="sticky-container">
    <div id="first-page-title-wrapper">
            <h1 class="squished jitter">
                TOM BROWN<br>
                TOM BROWN<br>
                TOM BROWN<br>
                TOM BROWN<br>
                TOM BROWN<br>
            </h1>
    </div>
</div>
    <section id="first-page">
        <h2>Personal site and portfolio of cool things in no particular order</h2>
            <script src="/media/js/name-jitter.js" defer></script>
        
        <!--<div class="pop-in" data-n1="70" data-n2="200" style="position: absolute; top: 10vh; right: 5vw; height: 30vh;">
            <img src="/media/images/dj.png" alt="" style="height: 100%; width: auto;">
        </div>

        <div class="pop-in" data-n1="50" data-n2="240" style="position: absolute; top: 50vh; right: 10vw; height: calc(20vh + 10vw);">
            <img src="/media/images/turbofan.jpg" alt="" style="height: 100%; width: auto;">
        </div>

        <div class="pop-in" data-n1="100" data-n2="180" style="position: absolute; bottom: 40vh; left: 45vw; height: 40vh;">
            <img src="/media/images/speaker.jpg" alt="" style="height: 100%; width: auto;">
        </div>-->

        <script src="/media/js/pop-in.js" defer></script>
        <img id="sourceImage" src="/media/images/ascii.jpg" alt="source" style="display:none; height: 100vh; width: auto;">
        <canvas id="preview" style="display: none;"></canvas>
        <pre id="ascii"></pre>
        <script src="/media/js/asciify.js"></script>
    </section>
    
    <section id="second-page">
        <div class="project-heading">
            <h1 class="squished">PROJECTS PROJECTS PROJECTS</h1>
            <script src="/media/js/projects-glitch.js" defer></script>
        </div>
        <div class="scrolling-wrapper">
            
            {% for post in collections.project reversed %}
            <div class="card">
                
                {% if post.data.external_url %}
                    <a href="{{ post.data.external_url }}" target="_blank" rel="noopener noreferrer">
                {% else %}
                    <a href="{{ post.url }}">
                {% endif %}
                    
                    <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
                </a>
                
                <div>
                    <h2>{{ post.data.title }}</h2>
                    <p>{{ post.data.description }}</p>
                </div>
            </div>
            {% endfor %}
        
            <div class="card">
                <img src="/media/images/site-bg-placeholder.jpg" alt="Site Background Placeholder">
            </div>
        
        </div>
        </section>
        <script>
const wrapper = document.querySelector('.scrolling-wrapper');
const cards = document.querySelectorAll('.scrolling-wrapper .card');

let observer = new IntersectionObserver(
entries => {
    entries.forEach(entry => {
    entry.target.classList.toggle('active', entry.isIntersecting && entry.intersectionRatio >= 0.9);
    });
},
{
    root: wrapper,
    threshold: 0.9, // Consider a card "active" when 90% in view
}
);

cards.forEach(card => observer.observe(card));
    </script>